@charset "UTF-8";

/**
 * Jeong A Ra CSS
 * http://jeongara.com/
 */

/*------------------------------------------------------
  로그인 (Login)
------------------------------------------------------*/
.login {
	min-width: auto;

	#wrap {
		display: flex !important;
		align-items: center;
		justify-content: center;
		max-width: 380px;
		height: 100vmin;
		margin: 0 auto;
	}

	&-wrap {
		display: grid;
		gap: 20px;
		width: 380px;
		padding: 50px 30px;
		border-radius: 8px;
		background-color: #FFF;
		box-sizing: border-box;
	}

	&-head {
		font-weight: 600;
		font-size: 24px;
		color: #111;
		text-align: center;
	}

	&-body {
		background-color: #FFF;
	}

	&-form {
		display: grid;
		gap: 10px;
		position: sticky;
		background-color: #FFF;

		&-row {
			margin-bottom: 0;

			.text-error {
				position: static;
				padding: 4px 12px 0;
			}
		}

	}

	&-btn {
		.comm-btn {
			width: 100%;
		}
	}

	.btn_google {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;
		width: 235px;
		height: 50px;
		margin: 0 auto;
		padding: 0 25px;
		background-color: #fff;
		border: 1px solid #e2e2e2;
		font-weight: 500;
		font-size: 17px;
		color: var(--dark-color);

		&::before {
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../img/common/ico_google.svg);
		}

		&:hover {
			border-color: #2b2b2b;
		}
	}
}

/*------------------------------------------------------
  내 정보 (My Info)
------------------------------------------------------*/
.form-name {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 15px;

	img {
		width: 60px;
		height: 60px;
	}

	.name-inner {
		display: grid;
		row-gap: 5px;

		>p {
			&.name-phone {
				font-size: 14px;
				color: #6b7280;
			}
		}
	}
}

.form-myinfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;

	.btn-seat {
		font-size: 17px;
		width: 140px;
		height: 30px;
		border-right: 1px solid #ddd;
		border-radius: 0;
		text-align: center;

		span {
			margin-right: 5px;
			font-size: 12px;
			color: #6b7280;
		}
	}

	.btn-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 22px;
		width: calc(100% - 140px);
		height: 30px;

		button {
			width: 28px;
			height: 28px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
			font-size: 0;

			&.btn-messages {
				background-image: url(../img/common/ico_message.svg);
			}

			&.btn-call {
				background-image: url(../img/common/ico_call.svg);
			}

			&.btn-chat {
				background-image: url(../img/common/ico_message2.svg);
			}
		}
	}
}

/*------------------------------------------------------
  벌점 (Penalty)
------------------------------------------------------*/
.form-col.form-etc {
	gap: 10px;
}

.detail-penalty {
	.form-detail-inner {
		padding-bottom: 0px !important;
	}
}

.detail-line {
	.form-detail-inner {
		&:first-child {
			margin-top: -20px;
			border-top: none !important;
		}

		&:last-child {
			border-bottom: none !important;
		}

		.form-col {
			.lbl {
				width: 50px;
			}

			.form-text {
				width: calc(100% - 50px);
			}
		}
	}
}

/*------------------------------------------------------
  출결 관리 (Attendance)
------------------------------------------------------*/
.content-attendance {
	.table .table-body {
		height: calc(100% - 223px);
	}

	.table-head {
		flex-direction: column;
		align-items: flex-start;
	}

	.table-box {
		width: 100%;
		margin-top: 15px;
		padding: 25px;
		background-color: #fff;
		border-radius: 4px;
		box-sizing: border-box;
	}

	// 교시 현황
	.period-item {
		display: flex;
		align-items: center;
		column-gap: 33px;
		margin-bottom: 25px;
		padding: 0px 8px;
		border-radius: 8px;

		&__label {
			width: 56px;
			margin-right: -23px;
			font-weight: 600;
			color: #111;
			text-align: center;
		}

		&__picker {
			display: flex;
			align-items: center;
			column-gap: 15px;
			position: relative;

			.ico_select {
				position: absolute;
				top: 0;
				right: 0;
				width: 34px;
				height: 34px;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url(../img/common/select.svg);
			}
		}

		&__select {
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			width: 180px;
			height: 36px;
			padding: 0 16px;
			border: 1px solid #e5e7eb;
			border-radius: 8px;
			background: #fff;
			font-size: 15px;
			color: #111;
			line-height: 1;
			transition: border-color .15s ease, box-shadow .15s ease;

			&:hover {
				border-color: #cbd5e1;
			}
		}

		&__value {
			white-space: nowrap;
		}

		&__chevron {
			flex: none;
			transition: transform .15s ease;
			opacity: .8;
		}

		&__options {
			position: absolute;
			z-index: 10;
			top: calc(100% + -7px);
			left: 0;
			width: 100%;
			overflow: auto;
			background: #fff;
			border: 1px solid #e5e7eb;
			border-top: none;
			border-radius: 0px 0px 10px 10px;
			padding: 6px;
			display: none;
			box-sizing: border-box;

			&.is-open {
				display: block;
			}
		}

		&__option {
			display: flex;
			align-items: center;
			height: 34px;
			padding: 0px 10px;
			border-radius: 8px;
			box-sizing: border-box;
			font-size: 15px;
			cursor: pointer;

			&:hover {
				background: #f3f4f6;
			}

			&.is-selected {
				background: #eef6ff;
				color: #1d4ed8;
				font-weight: 600;
			}

			&:focus {
				outline: none;
			}
		}

		&__count {
			font-size: 16px;
			color: #111;

			b {
				font-weight: 700;
			}
		}

		&__phone {
			height: 34px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0 10px;
			border-radius: 4px;
			background: #6b7280;
			color: #fff;
			transition: background .15s ease, border-color .15s ease;

			&:hover {
				background: #2b2b2b;
				color: #FFF;
			}

			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 3px rgba(239, 68, 68, .25);
				border-color: #ef4444;
				color: #ef4444;
			}
		}
	}

	// 출석현황
	.board-box {
		display: flex;
		align-items: center;
		text-align: center;
		margin-left: -25px;

		.board-box__inner {
			position: relative;
			width: 138px;
			height: 42px;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 1px;
				height: 100%;
				background-color: #e2e2e2;
			}

			&:last-child::before {
				content: none;
			}

			.board-box__title {
				font-size: 13px;
				color: var(--dark-color);
			}

			.board-box__number {
				font-size: 15px;
				color: #4a4a4a;
			}
		}
	}

	.form-detail-inner {
		padding: 20px 0px;

		&:first-child {
			padding-top: 0px;
		}

		// &:last-child {
		// 	border-bottom: none !important;
		// }
	}
}



// 출석현황
.state-list {
	display: grid;
	row-gap: 10px;
	list-style: none;
	padding-top: 10px;

	li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 40px;
		padding: 5px 10px;
		border-radius: 5px;
		font-size: 15px;
		color: var(--dark-color);
		box-sizing: border-box;

		&.is-active {
			background-color: #f3f4f6;
		}

		.status {
			&-title {
				width: 55px;
			}

			&-infos {
				width: calc(100% - 55px);
				font-size: 13px;
				box-sizing: border-box;

				p {
					padding: 5px 0px;
					border-bottom: 1px solid #dedede;

					&:last-child {
						border-bottom: none;
					}
				}
			}

			&-item {
				font-weight: 600;
				font-size: 15px;
			}
		}
	}
}

.details-2depth {
	box-shadow: 1px 1px 20px 0px #6d6d6d;

	.state-list {
		li {
			min-height: 63px;
			border: 1px solid #f3f4f6;
		}
	}
}

.status {
	&-item {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 54px;
		height: 25px;
		border-radius: 4px;
	}

	&-absent {
		background-color: #F9E0E0;
		color: #E05241;
	}

	// &-late {
	// 	background-color: #fffee6;
	// }

	// &-early {
	// 	background-color: #f5e6ff;
	// }

	// &-present {
	// 	background-color: #e6ebff;
	// }
}

.navi-list {
	list-style: none;
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #eee;

	a {
		display: flex;
		align-items: center;
		position: relative;
		height: 36px;
		margin-bottom: 4px;
		padding: 0px 10px;
		border-radius: 4px;
		font-weight: 500;
		font-size: 15px;
		color: #333;
		box-sizing: border-box;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			;
			display: flex;
			width: 34px;
			height: 34px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../img/common/ico_next.svg);
			background-size: 50%;
		}

		&:hover {
			background-color: #f3f4f6;
		}
	}
}

// 좌석현황팝업
.seat-number-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 25px;
	row-gap: 10px;
	margin-top: 25px;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		height: 28px;
		background-color: #dddfe2;
		border-radius: 4px;
		font-weight: 500;
		font-size: 15px;
		color: var(--dark-color);
		cursor: pointer;

		&:hover {
			background-color: var(--dark-color);
			color: var(--white-color);
		}

		&.is-active {
			background-color: var(--dark-color);
			color: var(--white-color);
		}

		&.is-none {
			pointer-events: none;
			cursor: default !important;
			opacity: .5;
			opacity: 0.5;
			color: var(--white-color);

			&:hover {
				background-color: #dddfe2;
				color: var(--white-color);
			}
		}

	}
}

.form-seat {
	display: grid;
	row-gap: 5px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 17px;
	border-bottom: 1px solid #aaa;

	strong {
		display: block;
		line-height: 1;
		font-size: 22px;
	}

	p {
		font-size: 14px;
		color: #6b7280;

		&.text-box {
			display: block;
			text-align: left;
		}
	}

	.int {
		margin-top: 10px;
	}
}

.chat-wrap {
	width: 400px;
	height: calc(100% - 95px);

	.chat {
		&-area {
			height: 100%;
		}

		&-inner {
			overflow-y: auto;
			height: calc(100% - 102px);
			padding: 25px 0px;

			>*:first-child {
				margin-top: 0px;
			}

			>*:last-child {
				margin-bottom: 0px;
			}
		}

		&-date {
			display: block;
			position: relative;
			margin: 15px 20px;
			font-size: 13px;
			color: #6b7280;
			text-align: center;

			span {
				display: inline-block;
				background-color: #FFF;
				padding: 0px 5px;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: #e5e5e5;
				top: 50%;
				left: 0;
				z-index: -1;
			}
		}

		&-box {
			display: flex;
			align-items: flex-end;
			column-gap: 5px;
			margin: 10px 0px;
			padding: 0px 20px;

			&-to {
				justify-content: flex-end;

				.chat-item {
					order: 2;
					background-color: #333;
					border-color: #333;
					color: #FFF;
				}

				.chat-time {
					order: 1;
					white-space: nowrap;
				}
			}

			&.no-time {
				margin: -5px 0px !important;

				.chat-time {
					display: none;
				}
			}
		}

		&-item {
			padding: 8px 10px;
			background-color: #e7e7e7;
			border: 1px solid #e7e7e7;
			border-radius: 5px;
			font-size: 14px;
			color: var(--dark-color);
		}

		&-time {
			font-size: 11px;
			color: #6b7280;
		}

		&-form {
			display: flex;
			align-items: center;
			height: 50px;
			border-top: 1px solid #aaa;

			textarea {
				width: calc(100% - 35px);
				height: 40px;
				margin: 5px 0px;
				padding: 0px 10px;
				box-sizing: border-box;
			}

			button {
				background-repeat: no-repeat;
				background-position: center;
				font-size: 0;

				&.chat-send {
					width: 35px;
					height: 50px;
					background-image: url(../img/common/ico_message3.svg);
				}

				&.btn-call {
					width: 238px;
					height: 34px;
					margin: 0 auto;
					background-image: url(../img/common/ico_call_white.svg);
					background-color: #24ac7d;
					border-radius: 4px;
				}
			}
		}
	}

	.phone {
		&-box {
			margin: 15px 0px;
			padding: 15px 20px;
			background-color: #f8f8f8;
		}

		&-date {
			font-size: 14px;
		}

		&-item {
			>p {
				margin: 20px 0px;
				font-size: 14px;

				&.item-1 {
					color: var(--success-color);
				}

				&.item-2 {
					color: #932993;
				}
			}
		}
	}
}


.log-list {
	display: grid;
	row-gap: 10px;
	list-style: none;
	padding-top: 15px;
	border-top: 1px solid #ddd;

	li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 40px;
		padding: 5px 10px;
		background-color: #f3f4f6;
		border-radius: 5px;
		font-size: 15px;
		color: var(--dark-color);
		box-sizing: border-box;

		.log-item {
			width: 60px;
			text-align: center;
		}
	}
}

/*------------------------------------------------------
  정기일정 (schedule)
------------------------------------------------------*/
.sch {
	&__head {
		padding-bottom: 15px;
		border-bottom: 1px solid var(--gray2-color);

		strong {
			color: var(--primary-color);
		}
	}

	&__body {
		display: grid;
		row-gap: 30px;
		padding: 30px 0px;
	}

	&__box {
		position: relative;
		padding: 15px 21px;
		border: 1px solid #e0e7f0;
		border-radius: 5px;
		font-size: 15px;
		line-height: 1.4;

		&-week {
			position: absolute;
			top: -15px;
			left: 15px;
			padding: 5px 5px;
			background-color: #e0e7f0;
			border-radius: 15px;
			line-height: 100%;
		}
	}
}


.body-component {
	min-width: auto;

	.component {
		position: relative;
	}

	.content {
		margin-left: 180px;
	}
}


.form-datas {
	display: flex;
	align-items: center;
	column-gap: 4px;
	.int {
		width:139px;
	}
	.comm-btn {
		padding:0px 16px;
	}

	.date-field {
		position: relative;
	}

	.date-field input[type="date"] {
		padding-right: 25px;
		box-sizing: border-box;
	}
	.date-field input[type="date"]::-webkit-calendar-picker-indicator {
		opacity: 0;
		position: absolute;
		right: 6px;
		top: 50%;
		transform: translateY(-50%);
		width: 16px;
		height: 16px;
		cursor: pointer;
	}
	.date-field .btn-calendar {
		position: absolute;
		right: 6px;
		top: 50%;
		transform: translateY(-50%);
		width: 16px;
		height: 16px;
		background: url(../img/common/ico_calendar.svg) no-repeat center;
		border: none;
		pointer-events: none;
		z-index: 99;
	}
}