/** 
  Jeong A Ra SCSS
   http://jeongara.com/
**/
/*

        Reset SCSS

*/
body,
html {
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea,
button,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: auto;
  position: relative;
  min-width: 1650px;
  margin: 0 auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #f3f3f4;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: -webkit-fill-available;
}

body.hidden {
  overflow: hidden;
}

img,
fieldset {
  border: 0
}

table {
  border-collapse: collapse
}

img {
  vertical-align: top;
  max-width: 100%;
}

em,
address {
  font-style: normal
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.tac {
  text-align: center !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right;
}

b {
  font-weight: 900;
}

#wrap {
  display: grid;
  grid-template-columns: 220px auto;
  position: relative;
  min-height: 100%;
  font-family: "Pretendard", "Apple SD Gothic Neo", "-apple-system,Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto !important;
  box-sizing: border-box;

  &.wrap-component {
    display: block;

    #container {
      height: auto;
    }

  }

  #footer {
    position: relative;
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

xmp {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: "Pretendard", "Apple SD Gothic Neo", "-apple-system,Segoe UI", Helvetica, Arial, sans-serif;
}